html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Karla', sans-serif;
}

a, nav li {
  cursor: pointer;
}

/*NAV*/
nav {
  font-weight: 900;
  font-size: 150%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: #00a985;
  border-radius: 0% 0% 5px 5px;
  background-image: linear-gradient(175deg, #00a985 0%, #0B8A80 74%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav li {
  list-style: none;
  margin-right: 4%;
}

nav ul {
  display: flex;
}

.pi {
  line-height: 1.5;
}

/*NAV*/

/*MAIN*/

.title {
  font-size: 10vw;
  text-align: center;
  
}


#section1 {
  height: 80vh;
  position: relative;
}

#section1 a {
  background-color: #67b26fc3;
  text-decoration: none;
  color: white;
  animation: all .3s;
}

#section1 a:hover {
  background-color: #67B26F;
}

#section2 {
  height: 100vh;
  background-color: #009649;
}

#section3 {
  height: 80vh;
  background-color: #b5ba4d;
}

/*MAIN*/


