html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}

a, li {
  cursor: pointer;
}

/*NAV*/
nav {
  font-weight: 900;
  font-size: 150%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);  */
}

nav li,
Link,
i {
  list-style: none;
  display: inline-block;
  padding: 25px 15px;
}

nav ul {
  display: flex;
}

nav li {
  animation: all .3s;
  border-radius: 5px;
}

nav li:hover {
  background-color: rgba(255, 255, 255, 0.103);
}

i {
  line-height: 1.5;
}

/*NAV*/

/*MAIN*/

body {
  background: radial-gradient(circle, #e4e486, #288c4f, #32A384, #BFE774);
  background-size: 900%;
  animation: animate 18s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.title {
  margin-top: 8vh;
  font-size: 10vw;
  text-align: center;
  display: block;
  margin: auto;
  width: 70vw;
  font-weight: bolder;
  color: #613838;
  background-color: #6138382e;

}

h1 {
  color: white;
  text-align: center;
}

.linkDetails {
  text-decoration: none;

  color: white;
  
}


.itemInfo{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.ListContainerItems {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item {
  background-color: var(--background);
  display: block;
  border: 3px solid var(--primary);
  padding: 15px;
  margin: 10vh auto 0 auto;
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow), 
        30px -30px 0 -3px var(--background), 30px -30px var(--orange);
  transition: box-shadow .5s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}


.item:hover {
  top: -12px;
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
      0 0 0 -3px var(--background), 0 0 0 0  var(--yellow),
      0 0 0 -3px var(--background), 0 0 0 0  var(--orange)
}

:root {
  --primary: #ffffff;
  --background: rgba(255, 255, 255, 0);
  --green: #288c4f;
  --yellow: #32A384;
  --orange: #BFE774;
} 

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 20vw;
}

/*MAIN*/